.header-section {
  height: 320px;
  background-image: url("images/bg.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.88;
}
.overlay {
  height: 320px;
  position: relative;
  text-align: center;
}
.overlay h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-shadow: 2px 2px 10px rgb(6, 87, 238);
}
